*{
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: #666666;
    overflow-x: hidden;
    word-wrap: break-word;
}
div {
    display: block;
    unicode-bidi: isolate;
}
#tophead {
    background-color: #49688e;
    clear: both;
    font-family: "Merriweather Sans", sans-serif;
    min-height: 35px;
    color: #ffffff;
    height: 12px;
}
.container {
    width: 1295px;
    margin: 0 auto;
   
    
    
    
}
#quick-contact{
    float: left;
    padding-top: 8px;
}
#quick-contact > ul{
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
ul {
    display: block;
    list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
#quick-contact li:first-child {
    border: medium none;
    margin: 0;
    padding: 0 70px 0px;
}

#quick-contact li {
    
    line-height: 1.1;
    list-style: outside none none;
    padding: 0px 0px 12px 30;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
p{
    color: #666666;
    margin: 0 0 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    unicode-bidi: isolate;
    line-height: 1.5;
    margin: 0 0 15px;
}
#quick-contact a{
    color: #ffffff;
    
}
#quick-contact li {
    border-left: 1px solid #fff;
    float: left;
    font-size: 14px;
    line-height: 1.1;
    list-style: outside none none;
    margin-left: -58px;
    padding-left: 15px;
}
@media only screen and (max-width: 479px) {
    #quick-contact li {
        margin:10px 0;
        padding: 0 6px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 767px) {
    #quick-contact li {
        display: inline-block;
        float: none;
        
        
    }

}

@media only screen and (max-width: 479px) {
    .quick-links {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .quick-links {
        float: left;
        width: 100%;
    }
}
@media only screen and (max-width: 1023px) {
    .quick-links {
        margin: 10px auto;
    }
}
.quick-links {
    float: right;
    position: relative;
    margin: 76px;
    margin-top: 2px;
}
.quick-links a.links-btn {
    border: 1px solid #dddddd;
    color: #ffffff;
    display: inline-block;
    float: right;
    margin: -29x 0;
    padding: 4px 41px 4px 10px;
    position: relative;
}
@media only screen and (max-width: 479px) {
    a.links-btn {
        
        width: 100%;
    }
}
.quick-links a.links-btn::before {
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 9px solid #fff;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 13px;
    width: 10px;
    z-index: 99;
}
.quick-links a.links-btn::after {
    background: #ffab1f none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.quick-links ul li a {
    border-bottom: 1px solid #ddd;
    color: #333366;
    display: block;
    margin-bottom: 0;
    padding: 4px 10px;
}
@media only screen and (max-width: 767px) {
    .site-header {
        clear: both;
        padding: 15px 0;
    }
}
.site-header {
    
    
    min-height: 110px;
}
 nav {
    display: block;
}

header{
    unicode-bidi: isolate;
}
#tophead::after, #tophead::before, #masthead::after, #masthead::before, #featured-slider::after, #featured-slider::before, #content::after, #content::before{
    clear: both;
    content: "";
    display: table;
}
@media only screen and (max-width: 767px) {
    .site-branding {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .custom-logo-link, .site-logo-link {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 90%;
        text-align: center;
    }
}
img {
    float: left;
    height: auto;
    max-width: 100%;
    border: 0;
    margin-top: -89px;
   
    margin-left: 84px;
    width: 160px;
    aspect-ratio: auto 160 / 160;
    
}

a:-webkit-any-link{
    cursor: pointer;
}
@media only screen and (max-width: 479px) {
    .site-title {
        clear: none;
        font-size: 26px;
    }
}
#site-identity{
    float: left;
    margin-top: -71px;
}
.site-title {
    clear: none;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 6px;
}
@media only screen and (max-width: 479px) {
    .site-description {
        font-size: 12px;
        letter-spacing: 1.4px;
        margin-bottom: 0;
    }
}
.site-description {
   
        color: #666666;
        font-size: 14px;
        font-style: inherit;
        font-weight: 400;
        letter-spacing: 1.4px;
        margin-bottom: 0;
}
.search-section {
    float: right;
    padding-top: 15px;
    width: 30%;
}
@media only screen and (max-width: 767px) {
    .search-section {
        clear: both;
        float: right;
        padding-top: 15px;
        width: 100%;
    }
}

.search-form{
    margin: 0 auto;
    max-width: 350px;
    position: relative;
}

form {
    display: block;
    
    unicode-bidi: isolate;
}
label {
    cursor: default;
}

.screen-reader-text {
    
    position: absolute !important;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
    
 @media only screen and (max-width: 767px) {
    .dropdown-toggle {
        border: none;
        border-radius: 0;
        box-sizing: content-box;
        content: "";
        height: 43px;
        padding: 0;
        position: absolute;
        right: 0;
        text-transform: lowercase;
        top: 0;
        width: 43px;
        z-index: 9999;
        background: inherit;
    }
}   

.search-form input.search-field{
    border-radius: 20px;
    padding: 10px 0% 10px 3%;

    width: 100%;
    box-sizing: inherit;
}
 input[type="search"] {
    color: #666;
    border: 1px solid #ccc;
}
input[type="search"] {
    -webkit-appearance: textfield;
    
}
input {
    
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font: inherit;
    margin: 0;
}

input[type="search" i] {
   
   
    padding-block: 1px;
    padding-inline: 2px;
}
input{
    font: inherit;
    margin: 0;
    font-family: sans-serif;
}
input[type="submit"]{
    background: #ffab1f;
    border: medium none;
    color: #ffffff;
    border-radius: 2px;
    line-height: 1.5;
    -webkit-appearance: button;
    cursor: pointer;
    padding: 9px 21px 7px ;
}

.search-form .search-submit{
    background-color: #294a70;
    border-radius: 0 20px 20px 0;
    float: right;
    padding: 0px 17px;
    position: absolute;
    right: 0;
    top: 0;
    height: 43px;
    margin-right: -11px;
}
@media only screen and (max-width: 767px) {
    #main-nav {
        background: inherit !important;
    }
}
#main-nav {
    background-color: #294a70;
    border-bottom: 5px solid #f4a024;
    display: block;
    float: left;
    width: 100%;
    transition: all 0.5s ease-in-out;
    height: 44px;
    margin-top: 23px;
}

nav{
    display: flex;
    unicode-bidi: inherit;
}
@media only screen and (max-width: 768px) {
    .menu-toggle {
        
        display: none;
        font-size: 20px;
        line-height: 1.3;
        margin: 15px auto;
        padding: 7px 20px 5px 15px;
        border-radius: 0;
        background: #294a70;
    }
}
@media only screen and (max-width: 767px) {
    .menu-toggle:hover {
        background-color: #ffab1f;
    }
}
button{
    font-family: sans-serif;
    cursor: pointer;
    overflow: visible;
    text-transform: none;
    background: #ffab1f;
    border: medium none;
    color: #ffffff;
    font-family: sans-serif;
    -webkit-appearance: button;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.5;
    font: inherit;
    
    background-color: white;
    margin-left: 64px;
    margin-top: 0px;
    height: 0px;
  
}
@media only screen and (max-width: 767px) {
    .menu-toggle .fa {
        width: 34px;
    }
}
@media only screen and (max-width: 767px) {
    .menu-toggle .fa-close {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .menu-toggle i {
        border-right: 1px solid #dddddd;
        float: left;
        font-size: 22px;
        line-height: 1;
        margin-right: 10px;
        padding-right: 10px;
    }
}

.fa{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
font: normal normal normal 14px / 1 FontAwesome;
}

@media only screen and (max-width: 767px) {
    .menu-toggle .fa-close{
        display: none;
    }
}
button:hover{
    
    background-color: #f4a024;
    
    
}
@media only screen and (max-width: 767px) {
    .wrap-menu-content {
        background-color: #666666;
        display: none;
        left: 3.5%;
        position: absolute;
        width: 93%;
        z-index: 9999;
    }
}
@media only screen and (max-width: 767px) {
    .main-navigation ul {
        background: #294a70 none repeat scroll 0 0;
    }
}
.main-navigation ul {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .main-navigation li {
        display: block;
        float: inherit;
        margin-bottom: 0;
        position: relative;
        clear: both;
    }
}
.main-navigation li {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    float: left;
}

@media only screen and (max-width: 767px) {
    .main-navigation ul li a, .main-navigation ul li:first-child > a {
        border-left: none;
        border-right: none;
    }
}
.main-navigation ul li:first-child > a {
    border-left: 1px solid #fff;
}
.main-navigation li.current-menu-item > a, .main-navigation li.current_page_item > a {
    background: #f4a024;
    color: #fff;
}
@media only screen and (max-width: 1023px) {
    .main-navigation ul li a {
        font-size: 15px;
        padding: 10px 13px;
    }
}
.main-navigation ul li a {
    color: #ffffff;
    border-right: 1px solid #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 25px;
    position: relative;
    z-index: 99;   
}
@media only screen and (max-width: 767px) {
    .main-navigation ul a {
        border-bottom: 1px solid #dddddd;
    }
}
@media only screen and (max-width: 767px) {
    .main-navigation li a {
        padding: 10px 15px;
        clear: both;
        border-bottom: 1px solid;
        
    }
}
@media only screen and (max-width: 767px) {
    .main-navigation ul li.menu-item-has-children a {
        padding-right: 43px;
    }
}
.main-navigation ul li.menu-item-has-children a, .main-navigation ul li.page_item_has_children a {
    padding-right: 30px;
}
@media only screen and (max-width: 767px) {
    .dropdown-toggle {
        border: none;
        border-radius: 0;
        box-sizing: content-box;
        content: "";
        height: 43px;
        padding: 0;
        position: absolute;
        right: 0;
        text-transform: lowercase;
        top: 0;
        width: 43px;
        z-index: 9999;
        background: inherit;
    }
}
@media only screen and (max-width: 767px) {
    .main-navigation ul ul {
        clear: both;
        display: none;
        float: left;
        left: 0;
        position: inherit;
        top: inherit;
        width: 100%;
    }
}
.main-navigation ul ul {
    background: #294a70 none repeat scroll 0 0;
    box-shadow: 0 1px 2px;
    left: 999em;
    margin: 0;
    min-width: 200px;
    position: absolute;
    z-index: 9999;
}
@media only screen and (max-width: 767px) {
    .main-navigation ul {
        background: #294a70 none repeat scroll 0 0;
    }
}
.main-navigation ul {
    margin: 0;
    padding: 0;
}
.main-navigation li li {
    float: none;
    display: block;
}
@media only screen and (max-width: 767px) {
    .main-navigation li {
        display: block;
        float: inherit;
        
        margin-bottom: 0;
        position: relative;
        clear: both;
    }
}
@media only screen and (max-width: 767px) {
    .main-navigation ul li.menu-item-has-children ul a{
        padding-left: 30px;
        padding-right: 15px;
    }
}
.main-navigation ul li li:first-child a {
    border-left: none;
}

.site-layout-fluid #page {
    background: inherit;
    box-shadow: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}   

a, a:visited {    
    text-decoration: inherit;   
}
a{
    background-color: transparent;
}

@media only screen and (max-width: 767px){
    #featured-slider{
        clear: both;
        display: block;
    }
}
.site-layout-fluid #featured-slider .container{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
@media only screen and (max-width: 767px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}
@media only screen and (max-width: 1169px){
    .container{
        width: 97%;
    }
}
#main-slider{
    clear: both;
    position: relative;
    text-align: center;
    overflow: hidden;
}
@media only screen and (max-width: 479px){
    #main-slider .cycle-prev{
        bottom: 27%;
        left:-1px;
    }
}



#main-slider .cycle-prev, #main-slider .cycle-next{
    border-radius: 31px;
    bottom: 47%;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 0.9;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    z-index: 999;
    transition: all 0.2s ease-in-out 0s;
}
@media only screen and (max-width: 1023px){
    #main-slider .cycle-next{
        bottom: 40%;
    }
}
.cycle-slide-active a img{
    width: 1280px;
    height: 476px;
    margin-top: 0px;
    margin-left: 2px;

}
article{
    display: block;
    unicode-bidi: isolate;
}
#main-slider a, #main-slider h3{
    color: #294a70;
}
#main-slider img{
    width: 100%;
    vertical-align: middle;
}
element.style{
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 97;
    opacity: 0;
    display: block;
    width: 1626px;
    left: -15px;
}
@media only screen and (max-width: 1023px){
    #main-slider .cycle-slide{
        width: 100%;
    }
}
#main-slider .cycle-slide{
    width: 100%;
}
#main-slider article{
    display: none;
}

article{
    display: block;
}

@media only screen and (max-width: 767px) {
    #page, .container {
        width: 100%;
        padding: 0 0px;
    }
}
@media only screen and (max-width: 1169px) {
    #page, .enabled-sticky-primary-menu #main-nav.fixed .container {
        width: 97%;
    }
}
.site-content {
    padding: 8px 0;
    float: left;
    width: 100%;
}
.inner-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

@media only screen and (max-width: 1023px) {
    .inner-wrapper, #footer-widgets .inner-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }
}
.global-layout-no-sidebar #primary {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    #primary, #sidebar-primary, #sidebar-secondary {
        width: 100%;
        clear: both;
    }
}
@media only screen and (max-width: 1023px) {
    #primary, #sidebar-primary, #sidebar-secondary, .site-footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#primary {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
main{
    display: block;
}
.hentry{
    margin: 0 0 15px;
}
article, header{
    display: block;
}
h1.entry-title {
    display: var(--page-title-display);
}
.elementor-page-title, h1.entry-title {
    display: var(--page-title-display);
}
.entry-title {
    margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 22px;
    }
}
.entry-content{
    margin: 1.5em 0 0;
    margin: 15px 0 0;
}








.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-section {
    position: relative;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
    transform: rotate(180deg);
}
.elementor-shape-bottom {
    bottom: -1px;
}
.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .elementor-section .elementor-container {
        flex-wrap: wrap;
    }
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-column {
    position: relative;
    min-height: 1px;
    display: flex;
    
}
.elementor-2 .elementor-element.elementor-element-8147ad9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2 .elementor-element.elementor-element-8147ad9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #4054B2 0%, #BDF229 100%);
}
.elementor-2 .elementor-element.elementor-element-8147ad9 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.elementor-2 .elementor-element.elementor-element-e7abda8 {
    text-align: center;
    width: 625px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-2 .elementor-element.elementor-element-e7abda8 > .elementor-widget-container {
    margin: 25px 0px 0px 0px;
}
.elementor-element .elementor-widget-container {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}
.elementor-2 .elementor-element.elementor-element-e7abda8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Tahoma", Sans-serif;
    mix-blend-mode: overlay;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-large {
    font-size: 29px;
}
.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}
.elementor-2 .elementor-element.elementor-element-84aa363 {
    text-align: center;
}
.elementor-element .elementor-widget-container {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
    padding: 0px 136px;
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}
.elementor-2 .elementor-element.elementor-element-84aa363 .elementor-heading-title {
    color: #000000;
}
.zoomIn {
    animation-name: zoomIn;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.animated {
    animation-duration: 1.25s;
}
.elementor-2 .elementor-element.elementor-element-9a47632:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2 .elementor-element.elementor-element-9a47632 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #EC1212;
    width: 731px;
    margin-left: 0px;
}
.elementor-2 .elementor-element.elementor-element-9a47632 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-element-1a619ae .elementor-button {
    fill: #000000;
    color: #000000;
}
.elementor-2 .elementor-element.elementor-element-1a619ae .elementor-button-content-wrapper {
    flex-direction: row;
}
.elementor-button span {
    text-decoration: inherit;
}
.elementor-button-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.elementor-button-text {
    display: inline-block;
}
.fadeInDown {
    animation-name: fadeInDown;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.elementor-2 .elementor-element.elementor-element-ba85ab4:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-ba85ab4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F4EDED;
}
.elementor-2 .elementor-element.elementor-element-ba85ab4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 11px 0px 6px 0px;
}
.elementor-section.elementor-section-stretched {
    position: relative;
    width: 100%;
}
.fadeInRight {
    animation-name: fadeInRight;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.elementor-element.elementor-button-danger .elementor-button {
    background-color: #d9534f;
}
.elementor-widget-button .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    background-color: var(--e-global-color-accent);
}
.elementor-align-center .elementor-button {
    width: auto;
}
.elementor a {
    box-shadow: none;
    text-decoration: none;
}
.elementor-button {
    display: inline-block;
    line-height: 1;
    background-color: #69727d;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}

.elementor-2 .elementor-element.elementor-element-d84b0c9 .elementor-button {
    background-color: #2E36D7;
}
.elementor-button-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.elementor-button span {
    text-decoration: inherit;
    
}
.elementor-button-text {
    display: inline-block;
}
@media (max-width: 767px) {
    .elementor-column {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
        width: 100%;
    }
}
elementor-2 .elementor-element.elementor-element-e528b5b .elementor-button {
    background-color: #C11111;
}
.elementor-element.elementor-button-info .elementor-button {
    background-color: #5bc0de;
}
footer{
    display: block;
    unicode-bidi: isolate;
}
#footer-widgets {
    background-color: #294a70;
    border-top: 5px solid #ffab1f;
    float: left;
    padding: 30px 0;
    width: 100%;
    color: #c2c2c2;
    font-weight: normal;
}
.footer-widget-area:first-child {
    border: none;
}
@media only screen and (max-width: 479px) {
    .footer-widget-area {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .footer-widget-area {
        float: left;
        padding: 0 15px;
        width: 50%;
    }
}
.footer-active-4 {
    width: 25%;
}
.footer-widget-area p, .footer-widget-area {
    color: #fff;
}
.footer-widget-area {
    border-left: 1px dashed #939393;
    float: left;
    height: 100%;
    padding: 0 25px;
}
.widget{
    margin: 0 0 1.5em;
}
aside{
    display: block;
}
@media only screen and (max-width: 767px) {
    h3 {
        font-size: 18px;
    }
}
h3 {
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6 {
    color: #294a70;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    margin: 0 0 15px;
}
.footer-widget-area ul {
    margin: 0;
}
.footer-widget-area ul li {
    list-style: none;
    position: relative;
    padding-left: 20px;
}
.footer-widget-area a {
    color: #fff;
}
@media only screen and (max-width: 479px) {
    .footer-widget-area {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .footer-widget-area {
        float: left;
        padding: 0 15px;
        width: 50%;
    }
}
.footer-active-4 {
    width: 25%;
}
.footer-widget-area p, .footer-widget-area {
    color: #fff;
}
footer-widget-area {
    border-left: 1px dashed #939393;
    float: left;
    height: 100%;
    padding: 0 25px;
}
.site-footer {
    background-color: #15305b;
    clear: both;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}
footer{
    display: block;
}
#footer-widgets {
    background-color: #294a70;
    border-top: 5px solid #ffab1f;
    float: left;
    padding: 30px 0;
    width: 100%;
    color: #c2c2c2;
    font-weight: normal;
    
}
@media only screen and (max-width: 610px) {
    .scrollup {
        bottom: 15px;
    }
}
.scrollup {
    background: #ffab1f none repeat scroll 0 0;
    bottom: 50px;
    color: #ffffff;
    display: none;
    float: right;
    line-height: 1.2;
    padding: 11px 7px 8px;
    position: fixed;
    right: 32px;
    text-align: center;
    z-index: 99999;
}

element.style {
    width: 1626px;
    left: -15px;
}
.elementor-section.elementor-section-stretched {
    position: relative;
    
}



.slick-track{
    display: flex;
    opacity: 1;
    width: 7710px;
    transform: translate(-3084px, 0px, 0px);
}
@media only screen and (min-width: 1024px) {
    .lae-posts-carousel {
        max-width: 96%;
    }
}
.lae-posts-carousel {
    clear: both;
    max-width: none;
}
.lae-container {
    margin-left: auto;
    margin-right: auto;
}
.lae-container, .lae-uber-grid-container, .lae-grid-container {
    box-sizing: border-box;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.lae-container .slick-prev {
    left: -40px;
}
.lae-container .slick-next, .lae-container .slick-next:after, .lae-container .slick-next:before, .lae-container .slick-prev, .lae-container .slick-prev:after, .lae-container .slick-prev:before {
    text-shadow: none;
    background: 0 0;
    border: none;
    padding: 0;
    opacity: 1;
    font-family: lae-icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    color: #aaa;
    overflow: hidden;
    box-shadow: none;
    outline: 0;
    text-indent: 0;
    text-align: center;
    transition: all .3s ease-in-out 0s;
}
.lae-container .slick-next {
    right: -40px;
}
.lae-container .slick-next, .lae-container .slick-prev {
    position: absolute;
    bottom: initial;
    left: initial;
    right: initial;
    top: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.lea-posts-carousel-item{
    width: 100%;
    display: inline-block;
}
.elementor-2 .elementor-element.elementor-element-c3661f1 .lae-posts-carousel .lae-posts-carousel-item {
    padding: 10px;
}
#content article.post {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 25px;
}
.lae-posts-carousel.lae-classic-skin .lae-posts-carousel-item .hentry {
    background: #fff;
    border-radius: 6px;
    border: none;
    padding: 0;
    margin: 0;
    transition: box-shadow .25s ease 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
}
.lae-posts-carousel.lae-classic-skin .lae-posts-carousel-item .lae-entry-text-wrap {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 25px 15px;
}
.lae-posts-carousel.lae-classic-skin .lae-posts-carousel-item .lae-entry-text-wrap .entry-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    clear: none;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.lae-posts-carousel.lae-classic-skin .lae-posts-carousel-item .lae-entry-text-wrap .entry-title a {
    color: #333;
    transition: all .4s ease-in-out 0s;
}
.lae-posts-carousel.lae-classic-skin .lae-posts-carousel-item .lae-entry-text-wrap .entry-summary {
    padding: 0;
    margin: 10px auto 0;
}
.elementor-2 .elementor-element.elementor-element-0cea4bc {
    --e-image-carousel-slides-to-show: 6;
}
.elementor-widget-image-carousel .swiper, .elementor-widget-image-carousel .swiper-container {
    position: static;
}
.swiper-pointer-events {
    touch-action: pan-y;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.elementor-image-carousel{
    transform: translate(-5353.33px, 0px, 0px);
    transition-duration: 0ms;
}
.elementor-widget-image-carousel .swiper-slide {
    text-align: center;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin: 0;
}
.elementor-widget-image-carousel .swiper-container .swiper-slide figure, .elementor-widget-image-carousel .swiper .swiper-slide figure {
    line-height: inherit;
}
.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.copyright {
    margin-bottom: 5px;
    margin-top: 5px;
}

#colophon a {
    color: #c2c2c2;
}
.site-info a {
    color: #ffffff;
}





























































































































































































































































































































































































































































































